@import "../../styles/placeholders/placeholders";
@import "../../styles/variables/colors";
nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  z-index: 50;
  position: fixed;
  max-height: 16px;
  background-color: $indigo;
  width: 100vw;
  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
      a {
        color: $white;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}
